.row {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
.top-row {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
#balls {
    position: relative;
    width: 100%;
    display: flex;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.ball {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 13px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px blue;
    z-index: 10;
}
.ball.pivot {
    background: green;
    box-shadow: 0 0 5px black;
}
.ball.less {
    background: blue;
    box-shadow: 0 0 5px black;
}
.ball.more {
    background: red;
    box-shadow: 0 0 5px black;
}
.ball.done {
    background: whitesmoke;
    color: gray;
    box-shadow: 0 0 5px black;
}
.ball.clone {
    z-index: 5;
    opacity: 0.2;
}
button {
    right: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10pt;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    background: #60a3bc;
}
button.disabled {
    color: gray;
    pointer-events: none;
}

.stats {
    display: grid;
    grid-template-columns: 120px auto;
}
#buttons {
    display: flex;
    flex-direction: column;
}
#best-bars {
    display: flex;
    justify-content: flex-start;
}
#best-total-bar, #worst-total-bar, #best-diff-bar, #worst-diff-bar {
    box-sizing: border-box;
    height: 1em;
    background: whitesmoke;
    border: 1px solid black;
}
#best-diff-bar {
    border-left: none;
    background: red;
}
#worst-bars {
    display: flex;
    justify-content: flex-end;
}
#worst-diff-bar {
    border-left: none;
    background: blue;
}